.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 40px 20px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #f5f5f5;
    background: #121212;
    border-radius: 20px;
}

.titulo {
    font-size: 3rem;
    margin-bottom: 15px;
    color: #00d0ff;
}

.descricao {
    font-size: 1.25rem;
    margin-bottom: 40px;
    color: #dcdcdc;
}

/* --- CARD PRINCIPAL --- */
.card {
    background: #1c1c1c;
    padding: 25px;
    border-radius: 12px;
    margin-bottom: 40px;
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.15);
}

.card h2 {
    color: #00d0ff;
    margin-bottom: 10px;
}

.card p {
    color: #e8e8e8;
}

/* --- SEÇÕES M/V/V --- */
.secoes {
    
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.box {
    background: #1c1c1c;
    padding: 25px;
    border-radius: 12px;
    margin-bottom: 40px;
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.15);
}

.box:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 25px rgba(0, 255, 255, 0.25);
}

.box h3 {
    color: #00d0ff;
    margin-bottom: 8px;
}

.box p {
    color: #dcdcdc;
}
