
.container {
    width: 800px;
    margin: 60px auto;
    padding: 50px;

    background: linear-gradient(145deg, #0e0e0e, #1a1a1a);
    border-radius: 14px;
    box-shadow: 0 0 20px rgba(41, 9, 58, 0.08);

    text-align: center;
    color: #ffffff;
    font-family: "Segoe UI", Arial, sans-serif;

    border: 1px solid rgba(71, 21, 108, 0.05);
}


.container h1 {
    font-size: 3rem;
    color: #9696a7;  
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;

    text-shadow: 0 0 8px rgba(59, 53, 168, 0.5);
}

.container p {
    font-size: 1.2rem;
    color: #e5e5e5;
    max-width: 700px;
    margin: 0 auto;
    line-height: 1.6;
    opacity: 0.9;
}


.container {
    animation: fadeIn 0.8s ease-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(25px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

